.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: green;
    margin-left: 0px;
    padding-left: 26px;
}

.heading-container{
    background-color: lightgrey;
    margin-left: -71px;
    margin-top: 14px;
    border-radius: 20px;
}

.file-container{
    background-color: lightgrey;
    margin-left: 16px;
    margin-top: 32px;
    border-radius: 20px;
    margin-right: 85px;
    max-height: 800px;
    min-height: 800px;
    padding-top: 25px;
}

.file-upload-container{
    padding-left: 28px;
    padding-top: 50px;
}

.upload-button{
    margin-left: 30px;
    margin-top: 48px;
    color: white;
    background: green;
    border-radius: 20px;
    max-width: 104px;
    min-width: 104px;
    max-height: 30px;
    min-height: 30px;
    padding-left:  10px;
    padding-top: 5px;
    cursor:  pointer;
}

.output-table{
    background-color: lightgrey;
    margin-left: 16px;
    margin-top: 32px;
    border-radius: 20px;
    margin-right: 85px;
    max-height: 1100px;
    min-height: 1100px;
    padding-top: 25px;
}

.table-body{
    margin-left: 40px;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:0px solid white;
    POSITION:  STICKY;
}

.table-cell{
    max-width: 120px;
    min-width: 120px;
}

.table-cell-1{
    max-width: 221px;
    min-width: 221px;
}

.table-cell-2{
    max-width: 90px;
    min-width: 90px;
}

.result-area{
    padding-left: 15px;
}

.text-area-heading{
    padding-left: 28px;
    margin-bottom: -30px;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#output-container{
    padding-left: 15px;
    padding-top: 48px;
}

.manipulation-container{
    background-color: lightgrey;
    margin-left: 16px;
    margin-top: 32px;
    border-radius: 20px;
    margin-right: 85px;
    max-height: 800px;
    min-height: 800px;
    padding-top: 25px;
}

#output-container-top-students{
    padding-left: 15px;
    padding-top: 48px;
}

.chart-container{
    padding-left: 15px;
    padding-top: 48px;
}

#chartContainer{
    padding-left: 15px;
    padding-top: 48px;
}

.no-display{
    display: none;
}